@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  font-weight: 400;
}

.header-lista {
  list-style: none;
}

.header-container-bottom {
  background-color: #f0a83e;

}

.logo-base {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  color: #ffffff;
}

.logo-first {
  color: #3c2313;
}

.nav-links {
  list-style: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
}

.baner {
  text-align: center;
}

.foto-baner {
  display: block;
  width: 100%;
}

.texto1-baner {
  color: #3C2313;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.contenedor-texto1-baner {
  display: flex;
  border-radius: 5px;
  background: #FFFFFF;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 365px;
  height: 54px;
  left: 890px;
  top: 345px;
}

.texto2-baner {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3C2313;
  position: absolute;
  width: 365px;
  height: 54px;
  left: 890px;
  top: 420px;
}

.contenedor-texto3-baner {
  display: flex;
  border-radius: 5px;
  background: #F0A83E;;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 141px;
  height: 49px;
  left: 1005px;
  top: 460px;
}

.texto3-baner {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.footer-top {
  background-color: #3C2313;;
}

.titulo-ubicanos {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.ubicanos {
  font-weight: 700;
  font-size: 10px;
  color: #8A8787;
}

.derechos-reservados {
  font-weight: 700;
  font-size: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #222222;
}

.logo-first-footer {
  color: #FFFFFF;
}

.logo-base-footer {
  color: #F0A83E;
}